body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 800px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
}

.informations {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.informations p {
	margin: 0 10px;
}

.informations span {
	font-weight: bold;
}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.countdown-title {
	font-size: 1.5em;
	color: #395cce;
	margin-right: 10px;
}

.countdown-data {
	font-size: 2em;
	font-weight: bold;
	color: #ff5722;
}

.complementary-file-button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #395cce;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.complementary-file-button:hover {
	background-color: #4772ff;
}

.question {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.question-text {
	font-size: 1.5em;
	margin-bottom: 20px;
}

.answers {
	display: flex;
	flex-direction: column;
}

.answer {
	margin-bottom: 10px;
}

.answer input[type="radio"] {
	margin-right: 10px;
	transform: scale(1.5);
}

.hint {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.hint-button {
	display: block;
	width: 150px;
	padding: 10px 20px;
	background-color: #FF9800;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	margin-right: 10px;
}

.hint-button:hover {
	background-color: #FFB74D;
}

.hint-count {
	font-size: 1.2em;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.nav-button {
	padding: 10px 20px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.previous-button {
	background-color: #395cce;
}

.previous-button:hover {
	background-color: #4772ff;
}

.validate-button {
	background-color: #4CAF50;
}

.validate-button:hover {
	background-color: #66BB6A;
}

.feedback-button {
	background-color: #FF9800;
}

.feedback-button:hover {
	background-color: #FFB74D;
}

.next-button {
	background-color: #395cce;
}

.next-button:hover {
	background-color: #4772ff;
}

.progress-bar {
	width: 100%;
	background-color: #ddd;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px 0;
	position: relative;
}

.progress-bar-fill {
	width: 0;
	height: 20px;
	background-color: #395cce;
	transition: width 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	padding: 0 10px;
	box-sizing: border-box;
}

.progress-text {
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.question-image {
	display: block;
	max-width: 40%;
	height: auto;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

.popup-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	width: 80%;
	max-width: 500px;
	text-align: center;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #706b6a;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.close-button:hover {
	background-color: #444141;
}

.feedback-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.feedback-text {
	font-size: 1.2em;
}

.feedback-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.feedback-title.correct {
	color: green;
}

.feedback-title.incorrect {
	color: red;
}

.feedback-text {
	font-size: 1.2em;
}
.feedback-point {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
	color: #333;
}

.answer input[type="radio"] {
	margin-right: 10px;
	transform: scale(1.5);
}

.answers {
	display: flex;
	flex-direction: column;
}

.answer {
	margin-bottom: 10px;
}

.hint-button {
	display: block;
	width: 150px;
	padding: 10px 20px;
	background-color: #FF9800;
	color: white;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	margin-right: 10px;
}

.hint-button:hover {
	background-color: #FFB74D;
}

.hint-count {
	font-size: 1.2em;
}

footer {
	color: #333;
	text-align: right; 
	padding: 2px 20px; 
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background-color: transparent;
}

footer p {
	padding-right: 25px;
	margin: 0;
	font-size: 1em;
}